{% extends 'base.html' %}
{% load formset_tags %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-xs-4 col-lg-4 grid-margin stretch-card">
            <div class="card">
                <div class="card-header">
                    <h3>Total License</h3>
                </div>

                <div class="card-body">
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-lg-4 grid-margin stretch-card">
            <div class="card">
                <div class="card-header">
                    <h3>Allotment Report</h3>
                </div>

                <div class="card-body">
                </div>
            </div>
        </div>

        <div class="col-xs-4 col-lg-4 grid-margin stretch-card">
            <div class="card">
                <div class="card-header">
                    <h3>To Billed Bill Of Entries</h3>
                </div>

                <div class="card-body">
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-lg-4 grid-margin stretch-card">
            <div class="card">
                <div class="card-header">
                    <h3>Expiring License</h3>
                </div>

                <div class="card-body">
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-lg-4 grid-margin stretch-card">
            <div class="card">
                <div class="card-header">
                    <h3>Individual Value License</h3>
                </div>

                <div class="card-body">
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-lg-4 grid-margin stretch-card">
            <div class="card">
                <div class="card-header">
                    <h3>Amendment License</h3>
                </div>

                <div class="card-body">
                </div>
            </div>
        </div>

    </div>
{% endblock %}