# Server-specific setup scripts
restore-db.sh
setup-labdhi-server.sh
setup-ssl-labdhi.sh

# Vite cache
frontend/.vite/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Database backups and sensitive data
*.sql
*.csv
remote_db_backup_*.sql

# Node
node_modules/
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
/backend/my_docx_folder/
/backups/
/.venv/bin/activate
/.venv/bin/activate.csh
/.venv/bin/activate.fish
/.venv/bin/Activate.ps1
/.venv/bin/celery
/.venv/bin/django-admin
/.venv/bin/dotenv
/.venv/bin/normalizer
/.venv/bin/num2words
/.venv/bin/pip
/.venv/bin/pip3
/.venv/bin/pip3.12
/.venv/bin/pybabel
/.venv/bin/python
/.venv/bin/python3
/.venv/bin/python3.12
/.venv/bin/sqlformat
/.venv/bin/wheel
/.venv/pyvenv.cfg
/backend/celerybeat-schedule
/backend/celerybeat-schedule-shm
/backend/celerybeat-schedule-wal
