.master-crud {
  color: var(--text-dark);
}

.table th,
.table td {
  vertical-align: middle !important;
}

.btn-orange {
  background-color: var(--color-accent) !important;
  border: none !important;
  color: white !important;
}

.page-item.active .page-link {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
  color: white !important;
}
