{% extends 'base.html' %}
{% load material_form %}
{% block content %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
<div class="container">
    {% if messages %}
      <div class="row">
          <div class="col-sm-12 col-sm-offset-12">
              {% for message in messages %}
              <div class="alert alert-{{ message.tags }}" role="alert">
                  <p>{{ message }}</p>
              </div>
              {% endfor %}
            </div>
      </div>
    {% endif %}
    <img src="{{ captcha_url }}"/>
    <h3><b>Shipping Bill</b> {{ remain_count }} <br> <b>Captcha Remains</b> {{ remain_captcha }}</h3>
    <div class="row">
        <div class="input-field col s12 required" id="id_captcha_container">
            <input id="id_captcha" maxlength="30" name="captcha" type="text">
            <label for="id_captcha" class="">Captcha</label>
        </div>
    </div>
    <input id="id_cookies" maxlength="30" name="cookies" type="hidden" value="{{ fetch_cookies }}">
    <input id="id_csrftoken" maxlength="30" name="csrftoken" type="hidden" value="{{ csrftoken }}">
    <button type="submit" name="_submit" class="btn">Submit</button>
</form>
{% endblock %}