{% extends 'base.html' %}
{% block content %}
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">Sr No</th>
      <th scope="col"><b>File Name</b></th>
      <th scope="col"><b>IEC Code</b></th>
      <th scope="col"><b>Upload Time</b></th>
      <th scope="col"><b>Start IECGate Fetch</b></th>
      <th scope="col"><b>Start DGFT Upload Fetch</b></th>
      <th scope="col"><b>View</b></th>
      <th scope="col"><b>Download</b></th>
    </tr>
  </thead>
  <tbody>
    {% for data in files_list %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ data.file_name }}</td>
      <td>{{ data.iec_code }}</td>
      <td>{{ data.upload_time }}</td>
      <th><a href="{% url 'fetch_shipping_bill' data.id %}"><i class="fa fa-bomb" aria-hidden="true"></i></a></th>
      <th><a href="{% url 'fetch_dgft_shipping_bill' data.id %}"><i class="fa fa-bomb" aria-hidden="true"></i></a></th>
      <th><a href="{% url 'shipping_bill_detail_list' data.id %}"><i class="fa fa-toggle-down" aria-hidden="true"></i></a></th>
      <th><a href="{% url 'download_shipping_bill' data.id %}" onclick="download_xlsx(event, '{{ data.id }}');"><i class="fa fa-toggle-down" aria-hidden="true"></i></a></th>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
{% block extrajs %}
    <script>
        function download_xlsx(e, data) {
            xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                var a, today;
                if (xhttp.readyState === 4 && xhttp.status === 200) {
                    a = document.createElement('a');
                    a.href = window.URL.createObjectURL(xhttp.response);
                    today = new Date();
                    a.download = "shipping_bill_list_" + today.toDateString().split(" ").join("_") + ".xls";
                    a.style.display = 'none';
                    document.body.appendChild(a);
                    return a.click();
                }
            };
            var url = '/shipping/'+ data +'/download/';
            xhttp.open("GET", url, true);
            xhttp.setRequestHeader("Content-Type", "application/json");
            xhttp.responseType = 'blob';
            xhttp.send();
            e.preventDefault();
        }
    </script>
{% endblock %}