{% block content %}
    <div class="row">
        <div class="col-xs-12 col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-header">
                    <h3>Confirm </h3>
                </div>
                <div class="card-body">
                    {% if form.errors %}
                        <div class="alert alert-danger">
                            <ul class="errorlist">
                                {% if form.non_field_errors %}
                                    <li>{{ form.non_field_errors }}</li>
                                {% endif %}
                                {% for field in form %}
                                    {% if field.errors %}
                                        <li>
                                            {{ field.label|title }}
                                            <ul class="errorlist">
                                                {% for error in field.errors %}
                                                    <li>{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    <h3>Are you sure?</h3>
                    <p>You're about to delete <b>{{ object }}</b> allotment for license</p>
                    <p>Please confirm.</p>
                    <form action="{{ request.path }}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-2">
                                <a class="btn btn-warning full-width" data-url="{% if type %} {% url 'allotment-verify' object.id %} {% else %} {% url 'allotment-verify' object.allotment_id %} {% endif %}"
                                   data-target="{% if type %}div-{{ object.id }}{% else %}div-{{ object.allotment_id }}{% endif %}"
                                   onclick="fetch_page(this)">Cancel</a>

                            </div>
                            <div class="col-lg-2">
                                <input class="btn btn-danger ajax-post full-width" onclick="ajax_post(this)"
                                       data-target="{% if type %}card-{{ object.id }}{% else %}div-{{ object.allotment_id }}{% endif %}"
                                       type="submit" value="Confirm"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
