{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}
{% load django_tables2 %}
{% load core_tag %}
{% load app_tags %}
{% load static %}
{% load i18n %}
{% block content %}
    <div class="row">
        <div class="col-xs-12 col-lg-12 grid-margin stretch-card">
            <div class="card">

                <div class="card-header">
                    <div class="row">
                        <div class="col-xs-9 col-lg-9">
                            Filter
                        </div>
                        <div class="col-lg-2 col-sm-4">
                            {% if 'company' in request.path %}
                                <a href="{% url 'company-add' %}" class="successButton">Add New</a>
                            {% elif 'hs_code' in request.path %}
                                <a href="{% url 'hs-code-add' %}" class="successButton">Add New</a>
                            {% elif 'item' in request.path %}
                                <a href="{% url 'item-add' %}" class="successButton">Add New</a>
                            {% elif 'license' in request.path %}
                                <a href="{% url 'add-license' %}" class="successButton">Add New</a>
                            {% elif 'allotment' in request.path %}
                                <a href="{% url 'allotment-add' %}" class="successButton">Add New</a>
                            {% elif 'bill_of_entry'  in request.path %}
                                <a href="{% url 'bill-of-entry-create' %}" class="successButton">Add New</a>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <form action="{{ request.path }}" method="get">
                        {% if filter.form %}
                            <div class="row">
                                {% for field in filter.form %}
                                    <div class="col-lg-3 col-xs-6">
                                        <div class="form-group">
                                            <label for="{{ field.name }}">{{ field.label }}</label>
                                            <div class="form-line">
                                                {{ field|addcss:"form-control" }}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="stat">
                                <button class="deleteButton" type="submit">Filter</button>
                            </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-xs-9 col-lg-9">
                            List
                        </div>
                        <div class="col-lg-2 col-sm-4">
                            <a class="successButton"
                               href="{% querystring '_export'='csv' %}"
                               aria-controls="DataTables_Table_1"><span>CSV</span></a>
                            <a class="successButton" tabindex="0"
                               aria-controls="DataTables_Table_1"
                               href="{% querystring '_export'='xls' %}"><span>Excel</span></a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h1>{{ object_list.has_other_pages }}</h1>
                    {% if is_paginated %}
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                            {% else %}
                                <li class="disabled"><span>&laquo;</span></li>
                            {% endif %}
                            {% for i in paginator.page_range %}
                                {% if page_obj.number == i %}
                                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                            {% else %}
                                <li class="disabled"><span>&raquo;</span></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                    {% for object in object_list %}
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-lg-1">
                                        <label for="">Date:</label>
                                        <p><b>{{ object.modified_on|title }}</b></p>
                                    </div>
                                    <div class="col-lg-1">
                                        <label for="">Type:</label>
                                        <p><b>{{ object.get_type_display|title }}</b></p>
                                    </div>
                                    <div class="col-lg-3">
                                        <label for="">Importer:</label>
                                        <p><b>{{ object.company|title }}</b></p>
                                    </div>
                                    <div class="col-lg-2">
                                        <label for="">Item:</label>
                                        <p><b>{{ object.item_name|title }}</b></p>
                                    </div>
                                    <div class="col-lg-1">
                                        <label for="">Quantity:</label>
                                        <p><b>{{ object.required_quantity|title }}</b></p>
                                    </div>
                                    <div class="col-lg-1">
                                        <label for="">Unit Price:</label>
                                        <p><b>{{ object.unit_value_per_unit|title }}</b></p>
                                    </div>
                                    <div class="col-lg-1">
                                        <label for="">Value:</label>
                                        <p><b>{{ object.required_value|title }}</b></p>
                                    </div>
                                    <div class="col-lg-1">
                                        <label for="">Invoice:</label>
                                        <p><b>{% if object.invoice %}{{ object.invoice|title }}{% endif %}</b>
                                        </p>
                                    </div>
                                    <div class="col-lg-1">
                                        <label for="">ETA:</label>
                                        <p><b>{% if object.eta %}{{ object.eta|title }}{% endif %}</b></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" style="background: #ffffff">
                                <div class="row">
                                    <div class="col-lg-2">
                                        <a class="btn btn-success fetch-page"
                                           data-url="{% url 'allotment-update' object.id %}"
                                           data-target="div-{{ object.id }}">Update</a>
                                    </div>
                                    <div class="col-lg-2">
                                        <a class="btn btn-info fetch-page"
                                           data-url="{% url 'allotment-details' object.id %}?item__name={{ object.item_name }}&remove_expired=false&remove_null=true&sort=license_expiry"
                                           data-target="div-{{ object.id }}">Allotment</a>
                                    </div>
                                    <div class="col-lg-2">
                                        <a class="btn btn-warning fetch-page">Download</a>
                                    </div>
                                    <div class="col-lg-2">
                                        <a class="btn btn-secondary fetch-page">Send</a>
                                    </div>
                                    <div class="col-lg-2">
                                        <a href="{% url 'allotment-delete' object.id %}"
                                           class="btn btn-danger fetch-page">Delete</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body data-target-div" id="div-{{ object.id }}">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h3>View Allotment</h3>
                                        {% get_table_html object.allotment_details.all as table %}
                                        <table class="table table-bordered" style="border: grey 2px solid">
                                            <thead>
                                            <th>Counter</th>
                                            <th>Serial number</th>
                                            <th>License number</th>
                                            <th>License date</th>
                                            <th>File number</th>
                                            <th>License expiry</th>
                                            <th>Exporter</th>
                                            <th>Qty</th>
                                            <th>Cif fc</th>
                                            <th>Notification number</th>
                                            <th></th>
                                            </thead>
                                            <tbody>
                                            {% for allotment in object.allotment_details.all %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td>{{ allotment.serial_number }}</td>
                                                    <td>{{ allotment.license_number }}</td>
                                                    <td>{{ allotment.license_date }}</td>
                                                    <td>{{ allotment.file_number }}</td>
                                                    <td>{{ allotment.license_expiry }}</td>
                                                    <td>{{ allotment.exporter }}</td>
                                                    <td>{{ allotment.qty }}</td>
                                                    <td>{{ allotment.cif_fc }}</td>
                                                    <td>{{ allotment.notification_number }}</td>
                                                    <td>
                                                        <a href="{% url 'allotment-item-delete' allotment.id %}?allotment={{ object.id }}"
                                                           class="btn btn-danger fetch-page">Delete</a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    {% endfor %}
                    {% if is_paginated %}
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                            {% else %}
                                <li class="disabled"><span>&laquo;</span></li>
                            {% endif %}
                            {% for i in paginator.page_range %}
                                {% if page_obj.number == i %}
                                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                            {% else %}
                                <li class="disabled"><span>&raquo;</span></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_js_script %}
    <script src="{% static 'js/select2.min.js' %}"></script>
    <script src="{% static 'js/django_select2.js' %}"></script>
    <script src="{% static 'js/django_select2.js' %}"></script>
    <script type="text/javascript">
        $(document).on('focus', '.select2', function (e) {
            if (e.originalEvent) {
                $(this).siblings('select').select2('open');
            }
        });
        $(".fetch-page").click(function () {
            event.preventDefault();
            url = this.dataset.url;
            target = "#" + this.dataset.target;
            $.get(url, function (data, status) {
                $(target).html(data);
                $(target).show();
            });
        });

        function ajax_post(button) {
            event.preventDefault();
            var form = $(button).closest("form");
            target = "#" + button.dataset.target;
            $.ajax({
                url: form.attr("action"),
                method: form.attr("method"),
                data: form.serialize(),
                success: function (data) {
                    $(target).html(data);
                    $(target).show();
                },
                error: function (data, status) {
                    $(target).html(data);
                    $(target).show();
                }
            });
        }
    </script>
{% endblock %}