{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}
{% load django_tables2 %}
{% load core_tag %}
{% load app_tags %}
{% load static %}
{% load i18n %}
{% block content %}
    <div class="row">
        <div class="col-xs-12 col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-xs-9 col-lg-9">
                            Filter
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form action="{{ request.path }}" method="get">
                        {% if filter.form %}
                            <div class="row">
                                {% for field in filter.form %}
                                    <div class="col-lg-3 col-xs-6">
                                        <div class="form-group">
                                            <label for="{{ field.name }}">{{ field.label }}</label>
                                            <div class="form-line">
                                                {{ field|addcss:"form-control" }}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="stat">
                                <button class="deleteButton" type="submit">Filter</button>
                            </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-xs-4 col-lg-8">
                            List
                        </div>
                        <div class="col-lg-2 col-sm-4">
                            <a href="{% url 'allotment-add' %}" class="btn btn-primary full-width" onclick="fetch_page(this)"
                               data-url="{% url 'allotment-add' %}" data-target="div-add">Add New</a>
                        </div>
                        <div class="col-lg-2 col-sm-4">
                            <a href="download/{% querystring '_export'='pdf' %}" class="btn btn-success full-width">Download Pending</a>
                        </div>
                    </div>
                </div>
                <div class="card-body data-target-div" id="div-add">

                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h1>{{ object_list.has_other_pages }}</h1>
                    {% if is_paginated %}
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                            {% else %}
                                <li class="disabled"><span>&laquo;</span></li>
                            {% endif %}
                            {% for i in paginator.page_range %}
                                {% if page_obj.number == i %}
                                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                            {% else %}
                                <li class="disabled"><span>&raquo;</span></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                    {% for object in object_list %}
                        {% include 'allotment/card.html' %}
                        <br>
                    {% endfor %}
                    {% if is_paginated %}
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                            {% else %}
                                <li class="disabled"><span>&laquo;</span></li>
                            {% endif %}
                            {% for i in paginator.page_range %}
                                {% if page_obj.number == i %}
                                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                            {% else %}
                                <li class="disabled"><span>&raquo;</span></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_js_script %}
    <script src="{% static 'js/select2.min.js' %}"></script>
    <script src="{% static 'js/django_select2.js' %}"></script>
    <script src="{% static 'js/django_select2.js' %}"></script>
    <script type="text/javascript">
        $(document).on('focus', '.select2', function (e) {
            if (e.originalEvent) {
                $(this).siblings('select').select2('open');
            }
        });

        function fetch_page(button) {
            event.preventDefault();
            url = button.dataset.url;
            target = "#" + button.dataset.target;
            $.get(url, function (data, status) {
                $(target).html(data);
                $(target).show();
            });
        }

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '')
            {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Check if this cookie string begin with the name we want
                    if (cookie.substring(0, name.length + 1) === (name + '='))
                    {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function ajax_post(button) {
            event.preventDefault();
            var form = $(button).closest("form");
            target_div = button.dataset.target;
            $.ajax({
                url: form.attr("action"),
                method: form.attr("method"),
                data: form.serialize(),
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
                },
                success: function (data) {
                    if (target_div.indexOf("card") >= 0) {
                        target = '.' + target_div;
                        $(target).remove();
                    } else {
                        target = '#' + target_div;
                        $(target).html(data);
                        $(target).show();
                    }

                },
                error: function (data, status) {
                    if (target_div.indexOf("card") >= 0) {
                        target = '.' + target_div;
                        $(target).remove();
                    } else {
                        target = '#' + target_div;
                        $(target).html(data);
                        $(target).show();
                    }
                }
            });
        }
    </script>
{% endblock %}