{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}
{% load django_tables2 %}
{% load core_tag %}
{% load app_tags %}
{% load static %}
{% load i18n %}
{% block content %}
    <div class="row">
        <div class="col-xs-12 col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-xs-9 col-lg-9">
                            Filter
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form action="{{ request.path }}" method="get">
                        {% if filter.form %}
                            <div class="row">
                                {% for field in filter.form %}
                                    <div class="col-lg-3 col-xs-6">
                                        <div class="form-group">
                                            <label for="{{ field.name }}">{{ field.label }}</label>
                                            <div class="form-line">
                                                {{ field|addcss:"form-control" }}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="stat">
                                <button class="deleteButton" type="submit">Filter</button>
                            </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-xs-4 col-lg-8">
                            List
                        </div>
                        <div class="col-lg-2 col-sm-4">
                            <a href="{% url 'allotment-add' %}" class="btn btn-primary full-width"
                               onclick="fetch_page(this)"
                               data-url="{% url 'allotment-add' %}" data-target="div-add">Add New</a>
                        </div>
                        <div class="col-lg-2 col-sm-4">
                            <a href="download/{% querystring '_export'='pdf' %}" target="_blank" class="btn btn-success full-width">Download
                                Pending</a>
                        </div>
                    </div>
                </div>
                <div class="card-body data-target-div" id="div-add">

                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    {% if is_paginated %}
                        <nav>
                            <ul class="pagination d-flex flex-wrap justify-content-center pagination-success">
                                {% if page_obj.has_previous %}
                                    <li class="page-item"><a class="page-link"
                                                             href="?page={{ page_obj.previous_page_number }}"><i
                                            class="mdi mdi-chevron-left"></i></a></li>
                                {% else %}
                                    <li class="page-item disabled"><a class="page-link" href="#"><i
                                            class="mdi mdi-chevron-left"></i></a></li>
                                {% endif %}
                                {% for i in paginator.page_range %}
                                    {% if page_obj.number == i %}
                                        <li class="page-item active"><a class="page-link"
                                                                        href="?page={{ i }}">{{ i }} </a></li>
                                    {% else %}
                                        <li class="page-item"><a class="page-link"
                                                                 href="?page={{ i }}">{{ i }} </a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                    <li class="page-item"><a class="page-link"
                                                             href="?page={{ page_obj.next_page_number }}"><i
                                            class="mdi mdi-chevron-right"></i></a></li>
                                {% else %}
                                    <li class="page-item disabled"><a class="page-link" href="#"><i
                                            class="mdi mdi-chevron-right"></i></a></li>
                                {% endif %}

                            </ul>
                        </nav>
                    {% endif %}

                    {% for object in object_list %}
                        {% include 'allotment/card.html' %}
                        <br>
                    {% endfor %}
                    {% if is_paginated %}
                        <nav>
                            <ul class="pagination d-flex flex-wrap justify-content-center pagination-success">
                                {% if page_obj.has_previous %}
                                    <li class="page-item"><a class="page-link"
                                                             href="?page={{ page_obj.previous_page_number }}"><i
                                            class="mdi mdi-chevron-left"></i></a></li>
                                {% else %}
                                    <li class="page-item disabled"><a class="page-link" href="#"><i
                                            class="mdi mdi-chevron-left"></i></a></li>
                                {% endif %}
                                {% for i in paginator.page_range %}
                                    {% if page_obj.number == i %}
                                        <li class="page-item active"><a class="page-link"
                                                                        href="?page={{ i }}">{{ i }} </a></li>
                                    {% else %}
                                        <li class="page-item"><a class="page-link"
                                                                 href="?page={{ i }}">{{ i }} </a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                    <li class="page-item"><a class="page-link"
                                                             href="?page={{ page_obj.next_page_number }}"><i
                                            class="mdi mdi-chevron-right"></i></a></li>
                                {% else %}
                                    <li class="page-item disabled"><a class="page-link" href="#"><i
                                            class="mdi mdi-chevron-right"></i></a></li>
                                {% endif %}

                            </ul>
                        </nav>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_js_script %}
    <script src="{% static 'js/select2.min.js' %}"></script>
    <script src="{% static 'js/django_select2.js' %}"></script>
    <script src="{% static 'js/django_select2.js' %}"></script>
    <script type="text/javascript">
        $(document).on('focus', '.select2', function (e) {
            if (e.originalEvent) {
                $(this).siblings('select').select2('open');
            }
        });
    </script>
{% endblock %}