{% load core_tag %}
{% if is_paginated %}
    <nav>
        <ul class="pagination d-flex flex-wrap justify-content-center pagination-success">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="#"
                       data-url="


                               {% url 'bill-of-entry-ajax-list' %}{% relative_url page_obj.previous_page_number 'page' request.GET.urlencode %}{% if is_active %}&is_active=True{% endif %}"
                       data-target="license-list" onclick="fetch_page(this)">
                        <i class="mdi mdi-chevron-left"></i>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="#"><i
                        class="mdi mdi-chevron-left"></i></a></li>
            {% endif %}
            {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="page-item active">
                        <a class="page-link" href="?page={{ i }}"
                           data-url="


                                   {% url 'bill-of-entry-ajax-list' %}{% relative_url i 'page' request.GET.urlencode %}{% if is_active %}&is_active=True{% endif %}"
                           data-target="license-list" onclick="fetch_page(this)">
                            {{ i }} </a></li>
                {% else %}
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ i }}"
                                             data-url="

                                                     {% url 'bill-of-entry-ajax-list' %}{% relative_url i 'page' request.GET.urlencode %}{% if is_active %}&is_active=True{% endif %}"
                                             data-target="license-list" onclick="fetch_page(this)">{{ i }} </a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link"
                                         href="?page={{ page_obj.next_page_number }}"
                                         data-url="

                                                 {% url 'bill-of-entry-ajax-list' %}{% relative_url page_obj.next_page_number 'page' request.GET.urlencode %}{% if is_active %}&is_active=True{% endif %}"
                                         data-target="license-list" onclick="fetch_page(this)"><i
                        class="mdi mdi-chevron-right"></i></a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="#"><i
                        class="mdi mdi-chevron-right"></i></a></li>
            {% endif %}

        </ul>
    </nav>
{% endif %}
<div class="accordion table-responsive" id="bill_of_entry" role="tablist">
    <table class="table dataTable no-footer">
        {% for object in object_list %}
            <tr>
                <td id="boe-{{ object.id }}">
                    {% include 'bill_of_entry/card.html' %}
                </td>
            </tr>
        {% endfor %}
    </table>

</div>
<br>
{% if is_paginated %}
    <nav>
        <ul class="pagination d-flex flex-wrap justify-content-center pagination-success">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="#"
                       data-url="




                               {% url 'bill-of-entry-ajax-list' %}{% relative_url page_obj.previous_page_number 'page' request.GET.urlencode %}{% if is_active %}&is_active=True{% endif %}"
                       data-target="license-list" onclick="fetch_page(this)">
                        <i class="mdi mdi-chevron-left"></i>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="#"><i
                        class="mdi mdi-chevron-left"></i></a></li>
            {% endif %}
            {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="page-item active">
                        <a class="page-link" href="?page={{ i }}"
                           data-url="


                                   {% url 'bill-of-entry-ajax-list' %}{% relative_url i 'page' request.GET.urlencode %}{% if is_active %}&is_active=True{% endif %}"
                           data-target="license-list" onclick="fetch_page(this)">
                            {{ i }} </a></li>
                {% else %}
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ i }}"
                                             data-url="


                                                     {% url 'bill-of-entry-ajax-list' %}{% relative_url i 'page' request.GET.urlencode %}{% if is_active %}&is_active=True{% endif %}"
                                             data-target="license-list" onclick="fetch_page(this)">{{ i }} </a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link"
                                         href="?page={{ page_obj.next_page_number }}"
                                         data-url="


                                                 {% url 'bill-of-entry-ajax-list' %}{% relative_url page_obj.next_page_number 'page' request.GET.urlencode %}{% if is_active %}&is_active=True{% endif %}"
                                         data-target="license-list" onclick="fetch_page(this)"><i
                        class="mdi mdi-chevron-right"></i></a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="#"><i
                        class="mdi mdi-chevron-right"></i></a></li>
            {% endif %}
        </ul>
    </nav>
{% endif %}