{% load static %}
{% block content %}
    <div class="row">
        <div class="col-xs-12 col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-header">
                    License List
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-striped tbordered">
                        <thead>
                        <th>Item Sr No</th>
                        <th>Quantity</th>
                        <th>CIF FC</th>
                        <th>CIF INR</th>
                        <th>STATUS</th>
                        </thead>
                        <tbody>
                        {% for items in object.item_details.all %}
                            <tr>
                                <td>{{ items.sr_number.license.license_number }}</td>
                                <td>{{ items.qty|title }}</td>
                                <td>{{ items.cif_fc|title }}</td>
                                <td>{{ items.cif_inr|title }}</td>
                                <td>{{ items.sr_number.license.get_purchase_status_display }}</td>
                            </tr>
                        {% endfor %}

                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}