{% extends 'base.html' %}
{% load formset_tags %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-xs-12 col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-xs-12 col-lg-9">
                            Bill Of Entry Details
                        </div>
                        <div class="col-xs-12 col-lg-3">
                            <a class="successButton" href="{% url 'bill-of-entry-update' object.id %}">Edit</a>
                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <div class="row grid">
                        <div class="col-lg-3 col-xs-6">
                            <h3>Bill Of Entry Number</h3>
                            <p>{{ object.bill_of_entry_number }}</p>
                        </div>
                        <div class="col-lg-3 col-xs-6">
                            <h3>Bill Of Entry Date</h3>
                            <p>{{ object.bill_of_entry_date }}</p>
                        </div>
                        <div class="col-lg-3 col-xs-6">
                            <h3>Bill Of Entry Port</h3>
                            <p>{{ object.port }}</p>
                        </div>
                        <div class="col-lg-3 col-xs-6">
                            <h3>Exchange Rate</h3>
                            <p>{{ object.exchange_rate }}</p>
                        </div>
                        <div class="col-lg-3 col-xs-6">
                            <h3>Item</h3>
                            <p>{{ object.product_name }}</p>
                        </div>
                        <div class="col-lg-3 col-xs-6">
                            <h3>Company Name</h3>
                            <p>{{ object.company }}</p>
                        </div>
                        <div class="col-lg-3 col-xs-6">
                            <h3>Allotment</h3>
                            <p>
                                {% for allotment in object.allotment.all %}
                                    {{ allotment }}<br>
                                {% endfor %}
                            </p>
                        </div>
                        <div class="col-lg-3 col-xs-6">
                            <h3>Invoice No & Date</h3>
                            <p>
                                {% if object.invoice_no and object.invoice_date %}
                                    {{ object.invoice_no }} Dated {{ object.invoice_date }}
                                {% endif %}
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-header">
                    License List
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-striped tbordered">
                        <thead>
                        <th>Item Sr No</th>
                        <th>Quantity</th>
                        <th>CIF FC</th>
                        <th>CIF INR</th>
                        </thead>
                        <tbody>
                        {% for items in object.item_details.all %}
                            <tr>
                                <td>{{ items.sr_number }}</td>
                                <td>{{ items.qty|title }}</td>
                                <td>{{ items.cif_fc|title }}</td>
                                <td>{{ items.cif_inr|title }}</td>
                            </tr>
                        {% endfor %}

                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}