{% load core_tag %}
{% load static %}

<form action="{{ request.path }}" method="post" novalidate enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-xs-12 col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    {% if form.errors %}
                        <div class="alert alert-danger">
                            <ul class="errorlist">
                                {% if form.non_field_errors %}
                                    <li>{{ form.non_field_errors }}</li>
                                {% endif %}
                                {% for field in form %}
                                    {% if field.errors %}
                                        <li>
                                            {{ field.label|title }}
                                            <ul class="errorlist">
                                                {% for error in field.errors %}
                                                    <li>{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    {% for fld in form.hidden_fields %}{{ fld }}{% endfor %}
                    <div class="row">
                        {% for field in form %}
                            <div class="col-lg-3 col-xs-6">
                                <div class="form-group">
                                    <label for="{{ field.name }}">{{ field.label }}</label>
                                    <div class="form-line">
                                        {{ field|addcss:"form-control" }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-lg-12">
                            <input type="submit" class="btn btn-success full-width ajax-post" onclick="ajax_post(this)"
                                   data-target="div-{% if object %}{{ object.id }}{% else %}add{% endif %}"
                                   value="Submit">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>
<script src="{% static 'js/select2.min.js' %}"></script>
<script src="{% static 'js/django_select2.js' %}"></script>
<script type="text/javascript">
    $(document).on('focus', '.select2', function (e) {
        if (e.originalEvent) {
            $(this).siblings('select').select2('open');
        }
    });

</script>
