{% extends 'base.html' %}
{% load render_table from django_tables2 %}

{% load django_tables2 %}
{% load core_tag %}
{% load static %}
{% load i18n %}
{% block content %}
    <div class="row">
        <div class="col-xs-12 col-lg-12 grid-margin stretch-card">
            <div class="card">
                <ul class="card-header nav nav-pills nav-pills-success" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#license-list"
                           role="tab" aria-controls="pills-home" aria-selected="true">Active Licenses</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% for table in tables %}
        <div class="row">
            <div class="col-xs-12 col-lg-12 grid-margin stretch-card">

                <div class="card">
                    <ul class="card-header nav nav-pills nav-pills-success" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <h1>{{ table.label }}</h1>
                        </li>
                    </ul>
                    <div class="card-body">
                        <div class="tab-content tab-no-active-fill-tab-content">
                            <div class="tab-pane fade show active" id="license-list" role="tabpanel"
                                 aria-labelledby="license-list">
                                <table class="table table-responsive table-bordered">
                                    {% if not 'EMPTY' in table.label %}
                                        <thead>
                                        <th>Sr NO</th>
                                        <th>DFIA</th>
                                        <th>DFIA DT</th>
                                        <th>DFIA Exp</th>
                                        <th>Exporter</th>
                                        <th>Total CIF</th>
                                        <th>Balance CIF</th>
                                        <th>RBD PD</th>
                                        <th>Total Veg QTY</th>
                                        <th>RBD QTY</th>
                                        <th>RBD $</th>
                                        <th>1513 QTY</th>
                                        <th>1513 $</th>
                                        <th>Veg Oil QTY</th>
                                        <th>Veg Oil $</th>
                                        <th>FF PD</th>
                                        <th>FF Total</th>
                                        <th>JUICE Qty</th>
                                        <th>DF Qty</th>
                                        <th>FF Qty</th>
                                        <th>Fruit/Cocoa</th>
                                        <th>Leavening Agent Qty</th>
                                        <th>STARCH 1108 Qty</th>
                                        <th>STARCH 3505 Qty</th>
                                        <th>Juice, DF & FF $</th>
                                        <th>MNM PD</th>
                                        <th>MNM QTY</th>
                                        <th>CHEESE Qty</th>
                                        <th>CHEESE $</th>
                                        <th>WPC Qty</th>
                                        <th>WPC $</th>
                                        <th>SWP QTY</th>
                                        <th>SWP $</th>
                                        <th>PP HSN</th>
                                        <th>PP PD</th>
                                        <th>PP Qty</th>
                                        <th>PAP HSN</th>
                                        <th>PAP PD</th>
                                        <th>PAP Qty</th>
                                        <th>Balance CIF $</th>
                                        </thead>
                                    {% else %}
                                        <thead>
                                        <th>Sr NO</th>
                                        <th>DFIA</th>
                                        <th>DFIA DT</th>
                                        <th>DFIA Exp</th>
                                        <th>Exporter</th>
                                        <th>Total CIF</th>
                                        <th>Balance CIF</th>
                                        </thead>
                                    {% endif %}
                                    <tbody>
                                    {% if not 'EMPTY' in table.label %}
                                        {% for object in table.table %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>'{{ object.license_number }}</td>
                                                <td>{{ object.license_date }}</td>
                                                <td>{{ object.license_expiry_date }}</td>
                                                <td>{{ object.exporter }}</td>
                                                <td>{{ object.opening_balance }}</td>
                                                <td>{{ object.get_balance_cif }}</td>
                                                <td>{{ object.rbd_pd }}</td>
                                                <td>{{ object.oil_queryset_total }}</td>
                                                <td>{{ object.get_rbd }}</td>
                                                <td>{{ object.get_rbd_cif }}</td>
                                                <td>{{ object.get_pko }}</td>
                                                <td>{{ object.get_pko_cif }}</td>
                                                <td>{{ object.get_veg_oil }}</td>
                                                <td>{{ object.get_veg_oil_cif }}</td>
                                                <td>{{ object.get_food_flavour_pd }}</td>
                                                <td>{{ object.get_food_flavour_tq }}</td>
                                                <td>{{ object.get_food_flavour_juice }}</td>
                                                <td>{{ object.get_dietary_fibre }}</td>
                                                <td>{{ object.get_food_flavour }}</td>
                                                <td>{{ object.get_fruit }}</td>
                                                <td>{{ object.get_leavening_agent }}</td>
                                                <td>{{ object.get_wheat_starch }}</td>
                                                <td>{{ object.get_modified_starch }}</td>
                                                <td>{{ object.get_per_cif }}</td>
                                                <td>{{ object.get_mnm_pd }}</td>
                                                <td>{{ object.get_mnm_tq }}</td>
                                                <td>{{ object.get_cheese }}</td>
                                                <td>{{ object.get_cheese_cif }}</td>
                                                <td>{{ object.get_wpc }}</td>
                                                <td>{{ object.get_wpc_cif }}</td>
                                                <td>{{ object.get_swp }}</td>
                                                <td>{{ object.get_swp_cif }}</td>
                                                <td>{{ object.get_pp_hsn }}</td>
                                                <td>{{ object.get_pp_pd }}</td>
                                                <td>{{ object.get_pp }}</td>
                                                <td>{{ object.get_paper_and_paper_hsn }}</td>
                                                <td>{{ object.get_paper_and_paper_pd }}</td>
                                                <td>{{ object.get_paper_and_paper }}</td>
                                                <td>{{ object.cif_value_balance }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        {% for object in table.table %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>'{{ object.license_number }}</td>
                                                <td>{{ object.license_date }}</td>
                                                <td>{{ object.license_expiry_date }}</td>
                                                <td>{{ object.exporter }}</td>
                                                <td>{{ object.opening_balance }}</td>
                                                <td>{{ object.get_balance_cif }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
{% block extra_js_script %}
    <script>

        var table = document.getElementById("table"), sumVal = 0;

        for (var i = 1; i < table.rows.length; i++) {
            sumVal = sumVal + parseInt(table.rows[i].cells[2].innerHTML);
        }

        document.getElementById("val").innerHTML = "Sum Value = " + sumVal;
        console.log(sumVal);

    </script>

{% endblock %}
