{% extends 'base.html' %}
{% load render_table from django_tables2 %}

{% load django_tables2 %}
{% load core_tag %}
{% load static %}
{% load i18n %}
{% block content %}
    <div class="row">
        <div class="col-xs-12 col-lg-12 grid-margin stretch-card">
            <div class="card">
                <ul class="card-header nav nav-pills nav-pills-success" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#license-list"
                           role="tab" aria-controls="pills-home" aria-selected="true">Active Licenses</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% for table in tables %}
        <div class="row">
            <div class="col-xs-12 col-lg-12 grid-margin stretch-card">

                <div class="card">
                    <ul class="card-header nav nav-pills nav-pills-success" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <h1>{{ table.label }}</h1>
                        </li>
                    </ul>
                    <div class="card-body">
                        <div class="tab-content tab-no-active-fill-tab-content">
                            <div class="tab-pane fade show active" id="license-list" role="tabpanel"
                                 aria-labelledby="license-list">
                                <table class="table table-responsive table-bordered">
                                    {% if not 'EMPTY' in table.label %}
                                        <thead>
                                        <th>Sr NO</th>
                                        <th>DFIA</th>
                                        <th>DFIA DT</th>
                                        <th>DFIA Exp</th>
                                        <th>Exporter</th>
                                        <th>Total CIF</th>
                                        <th>Balance CIF</th>
                                        <th>JUICE Qty</th>
                                        <th>TARTARIC Qty</th>
                                        <th>FOOD FLAVOUR HSN</th>
                                        <th>FOOD FLAVOUR PD</th>
                                        <th>FOOD FLAVOUR</th>
                                        <th>ESSENTIAL OIL PD</th>
                                        <th>ESSENTIAL OIL TOTAL QTY</th>
                                        <th>ORANGE ESSENTIAL OIL QTY</th>
                                        <th>LEMON ESSENTIAL OIL QTY</th>
                                        <th>PIPPERMINT ESSENTIAL OIL QTY</th>
                                        <th>ESSENTIAL OIL CIF</th>
                                        <th>Emulsifier HSN</th>
                                        <th>Emulsifier PD</th>
                                        <th>Emulsifier QTY</th>
                                        <th>Emulsifier CIF</th>
                                        <th>OCI PD</th>
                                        <th>OCI Qty</th>
                                        <th>OCI CIF</th>
                                        <th>PP PD</th>
                                        <th>PP Qty</th>
                                        <th>ALUMINIUM Qty</th>
                                        <th>PAP Qty</th>
                                        </thead>
                                    {% else %}
                                        <thead>
                                        <th>Sr NO</th>
                                        <th>DFIA</th>
                                        <th>DFIA DT</th>
                                        <th>DFIA Exp</th>
                                        <th>Exporter</th>
                                        <th>Total CIF</th>
                                        <th>Balance CIF</th>
                                        </thead>
                                    {% endif %}
                                    <tbody>
                                    {% if not 'EMPTY' in table.label %}
                                        {% for object in table.table %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>'{{ object.license_number }}</td>
                                                <td>{{ object.license_date }}</td>
                                                <td>{{ object.license_expiry_date }}</td>
                                                <td>{{ object.exporter }}</td>
                                                <td>{{ object.opening_balance }}</td>
                                                <td>{{ object.get_balance_cif }}</td>
                                                <td>{{ object.get_juice }}</td>
                                                <td>{{ object.get_tartaric_acid }}</td>
                                                <td>{{ object.get_food_flavour_confectionery_hsn }}</td>
                                                <td>{{ object.get_food_flavour_confectionery_pd }}</td>
                                                <td>{{ object.get_food_flavour_confectionery_obj_qty }}</td>
                                                <td>{{ object.get_orange_essential_pd }}</td>
                                                <td>{{ object.get_orange_essential_total }}</td>
                                                <td>{{ object.get_orange_essential_oil }}</td>
                                                <td>{{ object.get_lemon_essential_oil }}</td>
                                                <td>{{ object.get_pippermint_essential_oil }}</td>
                                                <td>{{ object.get_per_essential_oil }}</td>
                                                <td>{{ object.get_starch_confectionery_hsn }}</td>
                                                <td>{{ object.get_starch_confectionery_pd }}</td>
                                                <td>{{ object.get_starch_confectionery }}</td>
                                                <td>{{ object.get_starch_per_cif }}</td>
                                                <td>{{ object.get_other_confectionery_pd }}</td>
                                                <td>{{ object.get_other_confectionery }}</td>
                                                <td>{{ object.get_per_cif }}</td>
                                                <td>{{ object.get_pp_pd }}</td>
                                                <td>{{ object.get_pp }}</td>
                                                <td>{{ object.get_aluminium }}</td>
                                                <td>{{ object.get_paper_and_paper }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        {% for object in table.table %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>'{{ object.license_number }}</td>
                                                <td>{{ object.license_date }}</td>
                                                <td>{{ object.license_expiry_date }}</td>
                                                <td>{{ object.exporter }}</td>
                                                <td>{{ object.opening_balance }}</td>
                                                <td>{{ object.get_balance_cif }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
{% block extra_js_script %}
    <script>

        var table = document.getElementById("table"), sumVal = 0;

        for (var i = 1; i < table.rows.length; i++) {
            sumVal = sumVal + parseInt(table.rows[i].cells[2].innerHTML);
        }

        document.getElementById("val").innerHTML = "Sum Value = " + sumVal;
        console.log(sumVal);

    </script>

{% endblock %}
