{% extends 'base.html' %}
{% load formset_tags %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-xs-12 col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-xs-12 col-lg-9">
                            License Details
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row grid">
                        <div class="col-lg-3 col-xs-6">
                            <h3>License Number</h3>
                            <p>{{ object.license_number }}</p>
                        </div>
                        <div class="col-lg-3 col-xs-6">
                            <h3>License Date</h3>
                            <p>{{ object.license_date }}</p>
                        </div>
                        <div class="col-lg-3 col-xs-6">
                            <h3>License Expiry</h3>
                            <p>{{ object.license_expiry_date }}</p>
                        </div>
                        <div class="col-lg-3 col-xs-6">
                            <h3>File Number</h3>
                            <p>{{ object.file_number }}</p>
                        </div>
                        <div class="col-lg-3 col-xs-6">
                            <h3>Exporter</h3>
                            <p>{{ object.exporter }}</p>
                        </div>
                        <div class="col-lg-3 col-xs-6">
                            <h3>Notification Number</h3>
                            <p>{{ object.get_notification_number_display }}</p>
                        </div>
                        <div class="col-lg-3 col-xs-6">
                            <h3>Scheme Code</h3>
                            <p>{{ object.get_scheme_code_display }}</p>
                        </div>
                        <div class="col-lg-3 col-xs-6">
                            <h3>Port Of Registration</h3>
                            <p>{{ object.port }}</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-header">
                    Export Items
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-striped tbordered">
                        <thead>
                        <th>Item</th>
                        <th>Total CIF</th>
                        <th>Balance CIF</th>
                        </thead>
                        <tbody>
                        {% for export_item in object.export_license.all %}
                            <tr>
                                <td>{{ export_item.item|title }}</td>
                                <td>{{ export_item.cif_fc|title }}</td>
                                <td>{{ export_item.balance_cif_fc|title }}</td>
                            </tr>
                        {% endfor %}

                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-header">
                    Import Items
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-striped tbordered">
                        <thead>
                        <th>Sr No</th>
                        <th>HS Code</th>
                        <th>Item</th>
                        <th>Details</th>
                        </thead>
                        <tbody>
                        {% for import_item in license.import_license.all %}
                            <td>
                            <td>{{ import_item.serial_number }}</td>
                            <td>{{ import_item.hs_code }}</td>
                            <td>{{ import_item.item|title }}</td>
                            <td>
                                <table class="table table-bordered table-striped tbordered">
                                    <thead>
                                    <th>TYPE</th>
                                    <th>QUANTITY</th>
                                    <th>CIF FC</th>
                                    <th>CIF INR</th>
                                    </thead>
                                    <tbody>
                                    {% for item in import_item.item_details.all reversed %}
                                        <tr>
                                            <td>{{ item.get_transaction_type_display }}</td>
                                            <td>{{ item.qty }}</td>
                                            <td>
                                                {% if item.cif_fc == object.export_license.all.0.cif_fc %}
                                                    0.0
                                                {% else %}
                                                    {{ item.cif_fc }}
                                                {% endif %}
                                            </td>

                                            <td>
                                                {% if item.cif_inr == object.export_license.all.0.cif_inr %}
                                                    0.0
                                                {% else %}
                                                    {{ item.cif_fc }}
                                                {% endif %}
                                            </td>
                                        </tr>

                                    {% endfor %}
                                    {% for item in import_item.allotment_details.all %}
                                                                                <tr>
                                            <td>ALLOTMENT</td>
                                            <td>{{ item.qty }}</td>
                                            <td>
                                                    {{ item.cif_fc }}
                                            </td>

                                            <td>
                                                    {{ item.cif_fc }}
                                            </td>
                                        </tr>

                                    {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                            </tr>
                        {% endfor %}

                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}