{% extends 'base.html' %}
{% load render_table from django_tables2 %}

{% load django_tables2 %}
{% load core_tag %}
{% load static %}
{% load i18n %}
{% block content %}

    <div class="row">
        <div class="col-xs-12 col-lg-12 grid-margin stretch-card">
            <div class="card">

                <div class="card-header">
                    <div class="row">
                        <div class="col-xs-12 col-lg-8">
                            Filter
                        </div>
                        <div class="col-lg-2 col-sm-6">
                            <a href="#" class="btn btn-success full-width"
                               onclick="fetch_page(this)"
                               data-url="{% url 'license-add' %}" data-target="license-list">Add New</a>
                        </div>
                        <div class="col-lg-2 col-sm-6">
                            <a href="{% url 'analysis' %}" class="btn btn-warning full-width">Analysis</a>
                        </div>
                    </div>

                </div>

                <div class="card-body">
                    <form action="">
                        {% if filter.form %}
                            <div class="row">
                                {% for field in filter.form %}
                                    {% if not 'is_au' in field.name and not 'is_individual' in field.name and not 'is_incomplete' in field.name and not 'is_active' in field.name %}
                                        <div class="col-lg-3 col-xs-6">
                                            <div class="form-group">
                                                <label for="{{ field.name }}">{{ field.label }}</label>
                                                <div class="form-line">
                                                    {{ field|addcss:"form-control" }}
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="stat">
                                <button class="deleteButton" type="submit">Filter</button>
                            </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div id="div-add"></div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-12 grid-margin stretch-card">
            <div class="card">
                <ul class="card-header nav nav-pills nav-pills-success" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#license-list"
                           role="tab" aria-controls="pills-home" aria-selected="true"
                           data-url="
                                   {% url 'license-ajax-list' %}{% relative_url True 'is_active' request.GET.urlencode %}"
                           data-target="license-list" onclick="fetch_page(this)">Active Licenses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#license-list"
                           role="tab" aria-controls="pills-profile" aria-selected="false"
                           data-url="{% url 'license-ajax-list' %}{% relative_url True 'is_au' request.GET.urlencode %}"
                           data-target="license-list" onclick="fetch_page(this)"
                        >AU Licenses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#license-list"
                           role="tab" aria-controls="pills-contact" aria-selected="false"
                           data-url="{% url 'license-ajax-list' %}{% relative_url True 'is_individual' request.GET.urlencode %}"
                           data-target="license-list" onclick="fetch_page(this)"
                        >Has Individual Licenses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#license-list"
                           role="tab" aria-controls="pills-contact" aria-selected="false"
                           data-url="
                                   {% url 'license-ajax-list' %}{% relative_url True 'is_null' request.GET.urlencode %}"
                           data-target="license-list" onclick="fetch_page(this)">Null Licenses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#license-list"
                           role="tab" aria-controls="pills-contact" aria-selected="false"
                           data-url="{% url 'license-ajax-list' %}{% relative_url True 'is_incomplete' request.GET.urlencode %}"
                           data-target="license-list" onclick="fetch_page(this)">Is Incomplete Licenses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#license-list"
                           role="tab" aria-controls="pills-contact" aria-selected="false"
                           data-url="{% url 'license-ajax-list' %}"
                           data-target="license-list" onclick="fetch_page(this)"
                        >All Licenses</a>
                    </li>
                </ul>
                <div class="card-body">
                    <div class="tab-content tab-no-active-fill-tab-content">
                        <div class="tab-pane fade show active" id="license-list" role="tabpanel"
                             aria-labelledby="license-list">
                            {% include 'license/ajax-list.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_js_script %}
    <script src="{% static 'js/select2.min.js' %}"></script>
    <script src="{% static 'js/django_select2.js' %}"></script>
    <script src="{% static 'js/django_select2.js' %}"></script>
    <script type="text/javascript">
        $(document).on('focus', '.select2', function (e) {
            if (e.originalEvent) {
                $(this).siblings('select').select2('open');
            }
        });

    </script>
{% endblock %}