{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-xs-12 col-lg-12 grid-margin stretch-card">
            <table class="table table-responsive, table-bordered">
                <th>DFIA</th>
                <th>Expiry</th>
                <th>Value</th>
                <th>Wheat Flour</th>
                <th>Sugar</th>
                <th>RBD Palmolein Oil</th>
                <th>Leavening Agent</th>
                <th>Emulsifier</th>
                <th>Food Flavour</th>
                <th>Starch</th>
                <th>Food Colour</th>
                <th>Anti Oxidant</th>
                <th>Fruit</th>
                <th>Dietary Fibre</th>
                <th>M & M</th>
                <th>PP</th>
            </table>
            <tbody>
                <tr>

                </tr>
            </tbody>
        </div>
    </div>
{% endblock %}