{% extends '../base.html' %}
{% load formset_tags %}
{% load core_tag %}
{% load static %}
{% block content %}
    <form method="post" novalidate enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-xs-12 col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-header">
                        <h3>Add </h3>
                    </div>
                    <div class="card-body">
                        {% if form.errors %}
                            <div class="alert alert-danger">
                                <ul class="errorlist">
                                    {% if form.non_field_errors %}
                                        <li>{{ form.non_field_errors }}</li>
                                    {% endif %}
                                    {% for field in form %}
                                        {% if field.errors %}
                                            <li>
                                                {{ field.label|title }}
                                                <ul class="errorlist">
                                                    {% for error in field.errors %}
                                                        <li>{{ error }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        {% for fld in form.hidden_fields %}{{ fld }}{% endfor %}
                        <div class="row">
                            {% for field in form %}
                                <div class="col-lg-3 col-xs-6">
                                    <div class="form-group">
                                        <label for="{{ field.name }}">{{ field.label }}</label>
                                        <div class="form-line">
                                            {{ field|addcss:"form-control" }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if inlines %}
            {% for formset in inlines %}
                <div class="row">
                    <div class="col-xs-12 col-lg-12 grid-margin stretch-card">
                        <div class="card" id="{{ formset.prefix }}-id" data-formset-prefix="{{ formset.prefix }}">
                            <div class="card-header">
                                <h3>
                                    {% if formset.prefix == 'license_documents' %}
                                        License Documents
                                    {% elif formset.prefix == 'export_license' %}
                                        Export Item List
                                    {% elif formset.prefix == 'license_status' %}
                                        License Status
                                    {% else %}
                                        {{ formset.prefix|title }}
                                    {% endif %}
                                </h3>
                            </div>
                            <div class="card-body">
                                {% for form in formset.forms %}
                                    {% if form.errors %}
                                        <div class="alert alert-danger">
                                            <ul class="errorlist">
                                                {% if form.non_field_errors %}
                                                    <li>{{ form.non_field_errors }}</li>
                                                {% endif %}
                                                {% for field in form %}
                                                    {% if field.errors %}
                                                        <li>
                                                            {{ field.label|title }}
                                                            <ul class="errorlist">
                                                                {% for error in field.errors %}
                                                                    <li>{{ error }}</li>
                                                                {% endfor %}
                                                            </ul>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                <div>
                                    {{ formset.management_form }}

                                    <div data-formset-body class="table-responsive">
                                        <!-- New forms will be inserted in here -->
                                        {% for form in formset %}
                                            <div data-formset-form>
                                                {% for fld in form.hidden_fields %}{{ fld }}{% endfor %}
                                                <div class="row">
                                                    {% for field in form %}
                                                        {% if formset.prefix == 'license_status' and field.name == 'date' %}
                                                            <div class="hidden" style="display: none">
                                                                {{ field }}
                                                            </div>
                                                        {% elif formset.prefix == 'license_status' and field.name == 'license' %}
                                                            <div class="col-lg-3 col-xs-6">
                                                                <div class="form-group">
                                                                    <label for="">{{ field.label }}</label>
                                                                    {{ field }}
                                                                </div>
                                                            </div>
                                                        {% elif field.name == 'license' or field.name == 'DELETE' or field.name == 'id' or field.name == 'norm_class' %}
                                                            <div class="hidden" style="display: none">
                                                                {{ field }}
                                                            </div>
                                                        {% else %}
                                                            <div class="col-lg-3 col-xs-6">

                                                                <div class="form-group">
                                                                    <label for="">{{ field.label }}</label>
                                                                    {{ field }}
                                                                </div>
                                                            </div>
                                                        {% endif %}

                                                    {% endfor %}
                                                    <div class="col-lg-3 col-xs-6">
                                                        <button type="button" class="deleteButton"
                                                                data-formset-delete-button>Delete form
                                                        </button>

                                                    </div>

                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <!-- The empty form template. By wrapping this in a <script> tag, the
                                    __prefix__ placeholder can easily be replaced in both attributes and
                                    any scripts -->
                                    <script type="form-template" data-formset-empty-form>
                                        {% escapescript %}
                                            <div data-formset-form>
                                                {% for fld in form.hidden_fields %}{{ fld }}{% endfor %}
                                                <div class="row">
                                                    {% for field in formset.empty_form %}
                                                        {% if formset.prefix == 'license_status' and field.name == 'date' %}
                                                            <div class="hidden" style="display: none">
                                                                {{ field }}
                                                            </div>
                                                        {% elif formset.prefix == 'license_status' and field.name == 'license' %}
                                                            <div class="col-lg-3 col-xs-6">
                                                                <div class="form-group">
                                                                    <label for="">{{ field.label }}</label>
                                                                    {{ field }}
                                                                </div>
                                                            </div>
                                                        {% elif field.name == 'license' or field.name == 'DELETE' or field.name == 'id' %}
                                                            <div class="hidden" style="display: none">
                                                                {{ field }}
                                                            </div>

                                                        {% else %}
                                                            <div class="col-lg-3 col-xs-6">

                                                                <div class="form-group">
                                                                    <label for="">{{ field.label }}</label>
                                                                    {{ field }}
                                                                </div>
                                                            </div>
                                                        {% endif %}

                                                    {% endfor %}
                                                    <div class="col-lg-3 col-xs-6">
                                                        <button type="button" class="deleteButton"
                                                                data-formset-delete-button>Delete form
                                                        </button>

                                                    </div>
                                                </div>
                                            </div>
                                        {% endescapescript %}
                                    </script>

                                </div>
                            </div>
                            <div class="card-footer">
                                <!-- This button will add a new form when clicked -->
                                <input type="button" class="addButton" value="Add another" data-formset-add>

                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        {% endif %}
        <div class="row">
            <div class="col-xs-12 col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <input type="submit" class="successButton" value="Submit">

                    </div>
                </div>
            </div>
        </div>

    </form>
{% endblock %}
{% block extra_js_script %}
    <script src="{% static 'js/select2.min.js' %}"></script>
    <script src="{% static 'js/django_select2.js' %}"></script>
    <script>
        function calculateCurrency() {
            var export_license_fob_fc = $('#id_export_license-0-fob_fc').val();
            var export_license_fob_inr = $('#id_export_license-0-fob_inr').val();
            var value_addition = parseInt($('#id_export_license-0-value_addition').val());
            if (export_license_fob_fc == "") {
                return false
            } else if (export_license_fob_inr == "") {
                return false
            } else {
                var tvalue_addition = 100 + value_addition;

                if ($('#id_export_license-0-cif_fc').val() == 0) {
                    var export_license_cif_fc = export_license_fob_fc * 100 / tvalue_addition;
                    $('#id_export_license-0-cif_fc').val(export_license_cif_fc.toFixed(2));
                    $('#id_export_license-0-cif_fc').css("background-color", "#7FFF00");
                }
                if ($('#id_export_license-0-cif_inr').val() == 0) {
                    var export_license_cif_inr = export_license_fob_inr * 100 / tvalue_addition;
                    $('#id_export_license-0-cif_inr').val(export_license_cif_inr.toFixed(2));
                    $('#id_export_license-0-cif_inr').css("background-color", "#7FFF00");
                }

                var fob_exchange_rate = export_license_fob_inr / export_license_fob_fc;
                $('#id_export_license-0-fob_exchange_rate').val(fob_exchange_rate.toFixed(2));
                $('#id_export_license-0-fob_exchange_rate').css("background-color", "#7FFF00");
            }

        }

        jQuery(function ($) {
            $("#id_export_license-0-fob_fc").change(function () {
                calculateCurrency()
            });
            $("#id_export_license-0-fob_inr").change(function () {
                calculateCurrency()
            });
            $("#id_export_license-0-value_addition").change(function () {
                calculateCurrency()
            });
        });</script>

    <script type="text/javascript">
        $(document).on('focus', '.select2', function (e) {
            if (e.originalEvent) {
                $(this).siblings('select').select2('open');
            }
        });

    </script>
    <script>jQuery(function ($) {
        {% for formset in inlines %}
            $("#{{ formset.prefix }}-id").formset({
                animateForms: true,
                reorderMode: 'dom',
            });
        {% endfor %}
    });</script>
    <script>
        function convert_currency(inputE) {
            inr = parseInt(inputE.value);
            exchange = parseInt($('#id_exchange_rate').val());
            fc_id = '#' + inputE.id.replace('inr', 'fc');
            $(fc_id).val((inr / exchange).toFixed(2));
        }
    </script>
{% endblock %}