{% extends 'base.html' %}
{% load core_tag %}
{% load static %}
{% block content %}
    <div class="card">
        <div class="panel-heading text-center">
            <h3>Filter</h3>
        </div>

        <div class="panel-body">
            <form action="">
                {% if filter.form %}
                    <div class="row">
                        {% for field in filter.form %}
                            {% if not 'is_au' in field.name and not 'is_individual' in field.name and not 'is_incomplete' in field.name and not 'is_active' in field.name %}
                                <div class="col-lg-2 col-xs-4">
                                    <div class="form-group">
                                        <label for="{{ field.name }}">{{ field.label }}</label>
                                        <div class="form-line">
                                            {{ field|addcss:"form-control" }}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="stat">
                        <button class="btn btn-success" type="submit">Filter</button>
                    </div>
                {% endif %}
            </form>
        </div>
    </div>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="text-align: center">
        <div class="panel panel-default" style="margin-bottom: 2px">
            <div class="panel-heading" role="tab" id="headingAdd">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNew"
                   aria-expanded="true" aria-controls="collapseNew">
                    <div class="row">
                        <div class="col-lg-12">
                            <button class="btn btn-outline-success"
                                    data-url="{% url 'license-add' %}"
                                    data-target="NewBox"
                                    onclick="fetch_page(this)">Add New
                            </button>
                            <a href="{% url 'license-list' %}{% relative_url True 'csv' request.GET.urlencode %}"
                               class="btn btn-outline-danger">Download List in CSV</a>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="panel panel-default" style="margin-bottom: 2px" id="NewBox">
        </div>
        {% for object in object_list %}
            <div class="panel panel-default" style="margin-bottom: 2px">
                <div class="panel-heading" role="tab" id="heading{{ object.id }}">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ object.id }}"
                       aria-expanded="true" aria-controls="collapse{{ object.id }}">
                        <div class="row" data-url="{% url 'license-detail' object.license_number %}"
                             data-target="view{{ object.id }}"
                             onclick="fetch_page(this)"
                        >
                            <div class="col-lg-1">
                                <label>Notf No.</label>
                                <span>{{ object.get_notification_number_display }}</span>
                            </div>
                            <div class="col-lg-1">
                                <label>DFIA No</label>
                                <span>{{ object.license_number }}</span>
                            </div>
                            <div class="col-lg-1">
                                <label>DFIA Date</label>
                                <span>{{ object.license_date }}</span>
                            </div>
                            <div class="col-lg-1">
                                <label>DFIA Exp</label>
                                <span>{{ object.license_expiry_date }}</span>
                            </div>
                            <div class="col-lg-2">
                                <label>Exporter</label>
                                <span>{{ object.exporter }}</span>
                            </div>
                            <div class="col-lg-1">
                                <label>Norms</label>
                                <span>{{ object.get_norm_class }}</span>
                            </div>
                            <div class="col-lg-1">
                                <label>Port</label>
                                <span>{{ object.port }}</span>
                            </div>
                            <div class="col-lg-1">
                                <label>Bal CIF $</label>
                                <span>{{ object.balance_cif }}</span>
                            </div>
                            <div class="col-lg-1">
                                <label>Ledger Dt</label>
                                <span>{{ object.ledger_date }}</span>
                            </div>
                            <div class="col-lg-2">
                                <label>Remarks</label>
                                <span>{{ object.user_comment }}</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div id="collapse{{ object.id }}" class="panel-collapse collapse in" role="tabpanel"
                     aria-labelledby="heading{{ object.id }}">
                    <div class="panel-body">
                        <div>
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs nav-pills" role="tablist">
                                <li role="presentation">
                                    <a href="{% url 'license-detail' object.pk %}"
                                       data-url="{% url 'license-detail' object.license_number %}"
                                       data-target="view{{ object.id }}"
                                       onclick="fetch_page(this)"
                                       aria-controls="home" role="tab"
                                       data-toggle="tab">View</a></li>
                                <li><a href="{% url 'license-update' object.pk %}"
                                       data-url="{% url 'license-update' object.license_number %}"
                                       data-target="view{{ object.id }}"
                                       onclick="fetch_page(this)"
                                       aria-controls="home" role="tab"
                                       data-toggle="tab">Update</a></li>
                                <li><a href="{% url 'license-item-update' object.pk %}"
                                       data-url="{% url 'license-item-update' object.license_number %}"
                                       data-target="view{{ object.id }}"
                                       onclick="fetch_page(this)"
                                       aria-controls="home" role="tab"
                                       data-toggle="tab">Item Update</a></li>
                                <li><a href="{% url 'license-pdf' object.license_number %}" target="_blank">Download</a></li>
                                <li><a href="{% url 'license_ledger' object.license_number %}"
                                        target="_blank">Ledger</a></li>
                                <li><a href="{% url 'license_item_ledger_pdf' object.license_number %}"
                                        target="_blank">Item Ledger</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content" style="text-align: center">
                                <div role="tabpanel" class="tab-pane active" id="view{{ object.id }}">
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
    {% if is_paginated %}
        <div class="panel">
            <div class="panel-content text-center">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="pagination justify-content-center">
                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a href="
                                            {% url 'license-list' %}{% relative_url page_obj.previous_page_number 'page' request.GET.urlencode %}{% if is_active %}&is_active=True{% endif %}"
                                       class="page-link">
                                       <i class="fa fa-angle-left"></i>
                                    </a>
                                </li>
                            {% endif %}
                            {% for i in paginator.page_range %}
                                {% if page_obj.number == i %}
                                    <li class="page-item active">
                                        <a href="
                                                {% url 'license-list' %}{% relative_url i 'page' request.GET.urlencode %}{% if is_active %}&is_active=True{% endif %}"
                                           class="page-link">
                                            {{ i }}
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a href="
                                                {% url 'license-list' %}{% relative_url i 'page' request.GET.urlencode %}{% if is_active %}&is_active=True{% endif %}"
                                           class="page-link">
                                            {{ i }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}


                            {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a href="
                                            {% url 'license-list' %}{% relative_url page_obj.next_page_number 'page' request.GET.urlencode %}{% if is_active %}&is_active=True{% endif %}"
                                       class="page-link">
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block extra_js %}
    <script>
        $('select').select2();
        $('select option').each(function () {
            $(this).text($(this).text().toUpperCase());
        });

        function fetch_page(button) {
            event.preventDefault();
            url = button.dataset.url;
            target = "#" + button.dataset.target;
            $.get(url, function (data, status) {
                $(target).html(data);
                $(target).show();
            });
        }

        function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1);
                if (c.indexOf(name) == 0)
                    return c.substring(name.length, c.length);
            }
            return "";
        }

        function ajax_post(button) {
            event.preventDefault();
            var form = $(button).closest("form");
            try {
                boe = form.serializeArray()[2]['value']
            } catch (err) {
                console.log(err.message);
            }
            target_div = button.dataset.target;
            $.ajax({
                url: form.attr("action"),
                method: form.attr("method"),
                data: form.serialize(),
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
                },
                success: function (data) {
                    $(target).html(data);
                },
                error: function (data, status) {
                    $(target).html(data);
                }
            });
            $([document.documentElement, document.body]).animate({
                scrollTop: $(target).offset().top
            }, 500);
        }

    </script>
{% endblock %}