{% extends 'base.html' %}
{% load material_form %}
{% block content %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4">

                        <img src="{{ captcha_url }}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">

                        <div class="input-field col s12 required form-group" id="id_captcha_container">
                            <label for="id_captcha" class="">Captcha</label>
                            <input id="id_captcha" maxlength="30" name="captcha" type="text" class="form-control">
                        </div>
                    </div>
                </div>

                    <input id="id_cookies" maxlength="30" name="cookies" type="hidden" value="{{ fetch_cookies }}">
                    <button type="submit" name="_submit" class="btn btn-info">Submit</button>
                </div>
            </div>
    </form>
{% endblock %}