{% extends 'base.html' %}
{% load material_form %}
{% block content %}
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">Sr No</th>
      <th scope="col"><b>File Name</b></th>
      <th scope="col"><b>IEC</b></th>
      <th scope="col"><b>IFSC</b></th>
      <th scope="col"><b>Upload Time</b></th>
      <th scope="col"><b>Fetch EBrc</b></th>
      <th scope="col"><b>View File</b></th>
      <th scope="col"><b>Download File</b></th>
    </tr>
  </thead>
  <tbody>
    {% for data in files_list %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ data.file_name }}</td>
      <td>{{ data.iec }}</td>
      <td>{{ data.ifsc }}</td>
      <td>{{ data.upload_time }}</td>
      <th><a href="{% url 'fetch_ebrc' data.id %}">Fetch</a></th>
      <th><a href="{% url 'ebrc_detail_list' data.id %}">View</a></th>
      <th><a class="red-text" href="http://localhost:8000/ebrc/{{ data.id }}/list/?_export=csv">Download</a></th>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
{% block extrajs %}
    <script>
        function download_xlsx(e, data) {
            xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                var a, today;
                if (xhttp.readyState === 4 && xhttp.status === 200) {
                    a = document.createElement('a');
                    a.href = window.URL.createObjectURL(xhttp.response);
                    today = new Date();
                    a.download = "ebrc_list" + today.toDateString().split(" ").join("_") + ".xls";
                    a.style.display = 'none';
                    document.body.appendChild(a);
                    return a.click();
                }
            };
            var url = '/ebrc/'+ data +'/download/';
            xhttp.open("GET", url, true);
            xhttp.setRequestHeader("Content-Type", "application/json");
            xhttp.responseType = 'blob';
            xhttp.send();
            e.preventDefault();
        }
    </script>
{% endblock %}